:root {
    --main-color: #EEEFEC;
    --container-color: #ffffff;
    --shadow-color: lightgrey;
}

.pretty_container {
    border-radius: 20px;
    background-color: var(--container-color);
    margin: 10px;
    padding: 25px;
    position: relative;
    box-shadow: 2px 2px 2px var(--shadow-color);
}

.intro_text {
    margin: 25px 10px 10px;
    padding: 25px;
}

body {
    background-color: var(--main-color);
    overflow: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbars */
    font-size: 2em;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

/*.navbar .navbar-brand{*/
/*    margin-left:5% !important;*/
/*}*/

/* map style */
.map_window {
    height: 650px;
    display: flex;
    position: relative;
}

.chord_button {
    position: absolute;
    background-color: #B0D8D8;
    border-radius: 0.5em;
    border-color: #E6ECF5;
    /*color: #3d2900;*/
    /*text-transform:uppercase;*/
    text-decoration: none;
    /*padding: 0em 2em 3em 1em;*/
    /*box-shadow: 2px 2px 2px #D6EDEA;*/
}

.age_btn {
    top: 3em;
    right: 15em;
}

.edu_btn {
    top: 3em;
    right: 2em;
}

.chord_button:hover {
    background-color: #2b78da;
    cursor: pointer;
    color: white;
}

.chord_button:focus {
    background-color: #2b78da;
    cursor: pointer;
    color: white;
}

.dropdown {
    margin-top: 20px;
    font-size: 11pt;
}

.dropdown .Select-control {
    background-color: var(--main-color) !important;
}

.dropdown .Select-value {
    border-color: #e3a700 !important;
}

.dropdown .Select-menu-outer {
    background-color: var(--main-color);
}

.dropdown .Select-value-label {
    color: black !important;
}

.dropdown .VirtualizedSelectFocusedOption {
    background-color: #a5ecd1;
    color: black;
}

.dropdown .Select-control, .Select div, .is-open>.Select-control {
    color: black;
    border-color: slategray;
}

.is-focused:not(.is-open) > .Select-control {
    border-color: slategray;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}